<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="React Rewrite" enabled="true" patternSyntax="ECMAScript">
          <match url="(.*)" negate="false" />
          <action type="Rewrite" url="/index.html" />
          <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_URI}" pattern="^(/assets/)" negate="true" />
              <add input="{REQUEST_URI}" pattern="^(/static/)" negate="true" />
              <add input="{REQUEST_URI}" pattern="manifest.json" negate="true" />
          </conditions>
        </rule>
        <!-- <rule name="Static Assets" stopProcessing="true">
          <match url="([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg))" />
          <action type="Rewrite" url="/{R:1}"/>
        </rule>
        <rule name="ReactRouter Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule> -->
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
